.reveal .slide-logo {
    /* height: 100px !important;
    width: 100px !important;
    max-width: unset !important; */
    max-height: unset !important;
    height: 40px !important;   /* ajusta tamaño */
    width: auto !important;
    bottom: 15px !important;   /* opcional: separarlo del borde */
    right: 15px !important;
  }

.reveal .slides {
    font-size: 60%; /* Reduce el tamaño del texto al 80% */
}

.reveal h1, .reveal h2, .reveal h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.reveal .slides section.logo-bastula {
  background-image: url("imagenes/logo_bastula.svg");
  background-repeat: no-repeat;
  background-position: top 20px left 20px;
  background-size: 120px auto;
}